build/
bazel-*
mediapipe/MediaPipe.xcodeproj
mediapipe/MediaPipe.tulsiproj/*.tulsiconf-user
mediapipe/provisioning_profile.mobileprovision

mediapipe/calculators/__init__.py
mediapipe/calculators/audio/__init__.py
mediapipe/calculators/core/__init__.py
mediapipe/calculators/image/__init__.py
mediapipe/calculators/internal/__init__.py
mediapipe/calculators/tensor/__init__.py
mediapipe/calculators/tflite/__init__.py
mediapipe/calculators/util/__init__.py
mediapipe/calculators/video/__init__.py
mediapipe/calculators/video/tool/__init__.py
mediapipe/gpu/__init__.py
mediapipe/util/tracking/__init__.py

mediapipe.egg-info/
mp_env/
*_pb2.py
